
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.my-container{
    max-width: 1200px;
    margin: 100px auto 0;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}
.box{
    padding: 80px;
    background-color: #3B7896;
    border-radius: 50px;
    color: white;
    overflow: auto;
}